
.voicings-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 50px;
    justify-content: center;
    max-height: 60vh;
    overflow-y: auto;
    border: 3px solid #010300;

}
.voicing-diagram{
    position: relative;
}
.voicing-header{
    position: relative;
    height: 25px;

}
.voicing-board{
    position: relative;
    width: 100px;
    height: 100px;
}
.voicing-dot{
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: rgb(160, 69, 69);
    transform: translate(-50%, 20%);

}
.fret-label{
    position: absolute;
    left: -25px;
    top: 10px;
    font-size: 15px;
}