.fretboard{
    display:inline-flex;
    align-items: center;
    flex-direction: column-reverse;
    height: 180px;
    
}
.fret-cell{
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    position:relative;

}
.fret-cell::after{
    content: "";
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 0;
    width: 2px;
    background-color: #333;
}
.fretboard > .fret-row:last-child .fret-cell::after{
    top: 90%;
}
.note-dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}
.root-note{
    background-color: #b93c3c;
}
.chord-tone{
    background-color: #faf6f6;
}
.fret-row{
    display: flex;
    border-bottom: 2px solid #333
}
